{% extends 'base.html.twig' %}

{% block meta_description %}
Faire une donnation
{% endblock %}
{% block title %}Faire une donnation {{parent()}}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center inner-content container" style="height: 50vh;">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Faire une donnation</h2>
                    <div class="d-flex justify-content-center">
                        <a aria-label="Faire un don sur Paypal" href="https://www.paypal.com/" class="btn btn-success btn-lg m-3" target="_blank">Paypal</a>
                        <a aria-label="Faire un don avec Stripe" href="https://stripe.com/" class="btn btn-success btn-lg m-3" target="_blank">Stripe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
