{% extends 'base.html.twig' %}

{% block meta_description %}
L'email pour réinitialiser votre mot de passe a été envoyé
{% endblock %}

{% block title %}Password Reset Email Sent {{parent()}}{% endblock %}

{% block body %}
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a aria-label="Réinitialiser mon mot de passe" href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
{% endblock %}
